
#bwi {

	position: absolute;
	top: 0;
	left: 1080px;
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	z-index: 20;

}

#bwi_title {

	position: absolute;
	top: 95px; /* old masthead: 70px */
	left: 20px;

}

#bwi_content {

	position: absolute;
	position: absolute;
	top: 195px; /* old masthead: 170px */
	left: 20px;
	width: 1040px;
	height: 1605px; /* old masthead: 1630px */
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	font-size: 16pt;
	color: white;
	font-weight: bold;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)), color-stop(0.9,rgba(0,0,0,1)));

}

#bwi_text img.floatRight {
	float: right;
	margin: 10px;
}

#bwi_text img.floatLeft {
	float: left;
	margin: 10px;
}

#bwi_text p {
	margin-bottom: -10px;
}

.bwi_demo {

	margin-top: 20px;

}

.bwi_demo_title {

	font-size: 28pt;
	color: white;
	letter-spacing: 1.1px;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	margin-bottom: 10px;

}

.bwi_demo_button {

	float: left;
	width: 160px;
	height: 160px;

	display: inline-block;
	position: relative;
	
	padding: 0;
	margin: 20px;
	margin-top: 0;

}

.bwi_demo_button button {

	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: #23458b; /* previously rgb(23,46,94), changed at Dan's request 12052013 */
	border-radius: 80px;
	border: 0px none;
	outline: 0px none;
	
	text-align: center;
	color: white;
	letter-spacing: 1.1px;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
	font-size: 20pt;

	padding: 0;
	margin: 0;

}

.bwi_demo_button i {

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -36%;
	margin-left: -30%;
	font-size: 115px;
	display: none;

}

.bwi_demo_button button.on {

	box-shadow: 0 0 50px #fff;

}

.bwi_demo_sorry {

	margin-top: 5px;
	font-family: 'gdc_touch_bold', 'gdc_touch_bold2', sans-serif;
	display: none;

}

.bwi_demo.loading .bwi_demo_button i { display: block; }
.bwi_demo.disabled .bwi_demo_button button.on, .bwi_demo.loading .bwi_demo_button button.on { box-shadow: none; }
.bwi_demo.disabled .bwi_demo_button button, .bwi_demo.loading .bwi_demo_button button { opacity: 0.5; }
.bwi_demo.disabled .bwi_demo_sorry { display: block; }

#bwi_twitter_promo {

	display: block;
	background-color: white;
	padding: 25px;
	border-radius: 15px;
	font-size: 17pt;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	color: black;
	float: right;
	margin-left: 20px;
	margin-top: 20px;

}

#bwi_twitter_promo i {

	color: rgb(80, 171, 241);

}

#bwi_twitter_promo h2 {

	font-size: 20pt;
	margin: 0;

}

#bwi_twitter_promo ul li:before { content: '@'; }

.handicap #bwi_title { top: 1080px; }

.handicap #bwi_content {

	top: 1180px;
	height: 620px;

}

.page_bwi #bwi {
	left: 0;
	-webkit-transition: left 0.5s;
}

.page1 #bwi {
	left: 1080px;
	-webkit-transition: left 0.5s;
}

#bwi_message_screen {

	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	z-index: 1999;
	background: url(../img/bg4.png) no-repeat;
	text-align: center;
	color: white;
	display: none;

}

#bwi_message_screen i {

	font-size: 700pt;
	display: block;
	margin-top: 300px;

}

#bwi_message_screen button {

	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	z-index: 2000;
	background: #23458b; /* previously rgb(23,46,94), changed at Dan's request 12052013 */
	border-radius: 15px;
	color: white;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	font-size: 24pt;
	text-align: center;
	border: 0px none;
	outline: none;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 25px;

}

.clearfix { clear: both; visibility: hidden; height: 0; }