
#bwi {

	position: absolute;
	top: 0;
	left: 1080px;
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	z-index: 20;

}

#bwi_title {

	position: absolute;
	top: 95px; /* old masthead: 70px */
	left: 20px;

}

/* big red demo button */
#bwi button {

	border: 10px solid #fff;
	outline: 0;
	width: 500px;
	height: 500px;
	border-radius: 250px;
	background: red;
	color: white;
	font-size: 56pt;
	text-align: center;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	letter-spacing: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	box-shadow: 0 0 200px #333;
	padding: 50px;

}
#bwi button.on { box-shadow: 0 0 200px #fff; }

.page_bwi #bwi {
	left: 0;
	-webkit-transition: left 0.5s;
}

.page1 #bwi {
	left: 1080px;
	-webkit-transition: left 0.5s;
}

#bwi_message_screen {

	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	z-index: 1999;
	background: url(../img/bg3.png) no-repeat;
	text-align: center;
	color: white;
	display: none;

}

#bwi_message_screen i {

	font-size: 700pt;
	display: block;
	margin-top: 300px;

}

#bwi_message_screen button {

	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	z-index: 2000;
	background: rgb(23,46,94);
	border-radius: 15px;
	color: white;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	font-size: 24pt;
	text-align: center;
	border: 0px none;
	outline: none;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 25px;

}