
#directory {

	position: absolute;
	top: 0;
	left: 1080px;
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	z-index: 20;

}

#directory_content {

	z-index: 21;
	position: absolute;
	top: 790px;
	left: 20px;
	width: 1040px;
	height: 1000px;
	background: white;
	overflow: hidden;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)), color-stop(0.05,rgba(0,0,0,1)), color-stop(0.9,rgba(0,0,0,1)));

}

#directory_content > div {
	padding-top: 20px;
	padding-bottom: 60px;
}

#directory_backing {

	height: 1150px;
	width: 1080px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
	border-top: 4px solid black;

}

#directory_tabs {

	width: 1080px;
	height: 75px;
	position: absolute;
	bottom: 1158px;
	left: 0;
	z-index: 21;

}

#directory_filter_label {

	float: left;
	display: inline-block;
	width: 150px;
	height: 83px;
	margin: 0;
	margin-left: 30px;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
	color: white;
	line-height: 75px;
	letter-spacing: 3px;
	font-size: 32pt; /*44pt;*/
	text-align: center;

}

.directory_item {

	margin: 0;
	height: 40px;
	padding-top: 3px;
	padding-bottom: 3px;

}

.directory_item.highlight {
	background: #eee;
}

.directory_division {

	margin: 0;
	margin-top: 30px;
	padding-left: 10px;
	font-size: 42pt;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;

}

.directory_item div {

	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	font-size: 24pt;
	letter-spacing: 1px;
	
}

.directory_item .type {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-top: 6px;
	background: grey;
	color: white;
	font-size: 14pt;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
	line-height: 33px; /*30px;*/
	text-align: center;
	text-transform: uppercase;
}

.directory_item.faculty .type { background: #060; }
.directory_item.staff .type { background: #008; }
.directory_item.grad .type { background: #800; }
.directory_item.office .type { background: #880; }

.directory_tab {

	float: right;
	display: inline-block;
	width: 150px;
	height: 75px;
	margin: 0;
	margin-left: 10px;
	margin-right: 10px;
	background: #d4d4d4;
	border: 4px solid black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
	line-height: 75px;
	font-size: 25pt; /*32pt;*/
	text-align: center;
	font-weight: bold;

}

/* new coloring for the tabs at Dan's request, 11.19.2013 */
#directory_faculty { background-color: #060; color: white; }
#directory_staff { background-color: #008; color: white; }
#directory_grad { background-color: #800; color: white; }
#directory_office { background-color: #880; color: white; }
#directory_all { background-color: #888; color: white; }

#directory_faculty.on { color: #060; background-color: white; }
#directory_staff.on { color: #008; background-color: white; }
#directory_grad.on { color: #800; background-color: white; }
#directory_office.on { color: #880; background-color: white; }
#directory_all.on { background-color: #fff; color: black; }

.directory_tab.on {

	background: white;
	border-bottom: 4px solid white;

}

.directory_item .lName {
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
}

.directory_item .fName {
	margin-right: 0 !important;
}

.directory_item .location {

	float: right;
	width: 230px; /*200px*/
	text-align: left;

}

.directory_item .phone {

	float: right;
	/*width: 300px;*/
	text-align: right;
	padding-right: 30px;

}

#directory_title {

	position: absolute;
	top: 95px; /* old masthead: 70px */
	left: 20px;

}

#directory_search {

	background: white;
	border: 3px solid grey;
	border-radius: 3px;
	width: 1040px;
	height: 75px;
	position: absolute;
	top: 195px; /* old masthead: 180px */
	left: 20px;

}

#directory_keyboard {

	position: absolute;
	top: 275px;
	left: 20px;
	width: 1040px;
	height: 400px;
	padding-top: 10px;

}

#directory_no_results {

	position: absolute;
	top: 65%;
	left: 50%;
	width: 600px;
	height: 600px;
	margin-left: -300px;
	margin-top: -300px;
	background: white;
	z-index: 22;
	text-align: center;
	padding: 30px;
	color: #bbb;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	letter-spacing: 1px;
	display: none;

}

#directory_no_results i { font-size: 22em; }

#directory_no_results h1 { font-size: 40pt; }

#directory_no_results span {
	font-size: 20pt;
}

.keyboard_row { text-align: center; }
	
.keyboard_key {

	display: inline-block;
	border: 0 none;
	outline: none;
	background: #23458b; /* previously rgb(23,46,94), changed at Dan's request 12052013 */
	color: white;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
	width: 80px;
	height: 80px;
	margin: 6px;
	border-radius: 5px;
	font-size: 2.5em;
	
}

.keyboard_key.on {
	-webkit-box-shadow: 0 0 40px white;
	border: 2px solid white;
}

.keyboard_key.backspace {
	width: 110px;
}

.keyboard_key.space {
	width: 500px;
}

#directory_search i {

	float: right;
	color: grey;
	margin-top: 3px;
	margin-right: 12px;

}

.directory_division i {

	float: right;
	display: block;
	color: #ddd;
	font-size: 0.8em;
	margin-top: 0.3em;

}

#directory_search input {

	height: 73px;
	width: 950px;
	float: left;
	font-size: 54px;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	line-height: 73px;
	border: 0;
	outline: 0;
	padding-left: 10px;
	letter-spacing: 1px;
	background: transparent;

}

@-webkit-keyframes search_flash {
	0% { background-color: #fff; }
	50% { background-color: #f77; }
	100% { background-color: #fff; }
}

#directory_search.flash {
	-webkit-animation: search_flash 0.3s ease-out;
}

.handicap #directory_title { top: 1080px; }
.handicap #directory_search, .handicap #directory_keyboard { display: none; }
.handicap #directory_backing { height: 652px; }
.handicap #directory_content { height: 530px; top: 1275px; }
.handicap #directory_tabs { bottom: 660px; }

#directory_jumplist { display: none; }
.handicap #directory_jumplist { display: block; text-align: center; }
.handicap #directory_jumplist.off { display: none; }
.handicap #directory_jumplist button {
	border: 0;
	outline: 0;
	width: 50px;
	height: 50px;
	background: #23458b; /* previously rgb(23,46,94), changed at Dan's request 12052013 */
	border-radius: 10px;
	line-height: 50px;
	color: white;
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	font-size: 35px;
	font-weight: bold;
	margin: 5px;
}

.page_directory #directory {
	left: 0;
	-webkit-transition: left 0.5s;
}

.page1 #directory {
	left: 1080px;
	-webkit-transition: left 0.5s;
}