
/* We use three different fonts variations:
    - Thin (Gotham Thin, Gotham Light, Helevetica Neue Light, or something similar)
    - Bold (Gotham Bold, Helvetica Neue Bold, or something similar)
    - Book (Gotham Book, Helvetica Neue Regular, or something similar)
   This makes it easy to swap out fonts.
   Backup alternative fonts are specified with an appended '2', in case the primary preferred font is not available. */

/* references using Gotham (Dan: put font files at specified urls, or change urls here; without doing so, these will fail and use the Helvetica urls) */

@font-face {
	font-family: 'gdc_touch_thin';
	src: url('fonts/Gotham-Light.otf'); /* changed to Gotham Light at Dan's request, 12052013 */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gdc_touch_bold';
	src: url('fonts/Gotham-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'gdc_touch_book';
	src: url('fonts/Gotham-Book.otf');
	font-weight: normal;
	font-style: normal;
}

/* references using Helvetica Neue */

@font-face {
    font-family: 'gdc_touch_thin2';
    src: url('fonts/helveticaneuelight.eot');
    src: url('fonts/helveticaneuelight.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuelight.woff') format('woff'),
         url('fonts/helveticaneuelight.ttf') format('truetype'),
         url('fonts/helveticaneuelight.svg#helveticalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gdc_touch_bold2';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Bold.woff') format('woff'),
         url('fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gdc_touch_book2';
    src: url('fonts/HelveticaNeue.eot');
    src: url('fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue.woff') format('woff'),
         url('fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}