
* {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	cursor: default;
}

html, body {

	font-size: 18pt;
	background-color: transparent;
	font-family: 'helveticalight';
	letter-spacing: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: white;

}

body > div {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)), color-stop(0.05,rgba(0,0,0,1)), color-stop(0.9,rgba(0,0,0,1)));

}

body > div > div {

	padding: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-weight: bold;

}

body > i {

	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -44px;
	margin-top: -51px;
	z-index: 100;
	color: white;

}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: white;
	cursor: default;
}

body.done_loading > i { display: none !important; }

div.gallery, div.standalone-image, div.image-right, div.image_left, .content p a img, .content p > img {
	
	float: right;
	margin-left: 25px;
	margin-bottom: 25px;
	font-size: 14pt;
	font-weight: normal;

}

h1.title {

	font-size: 30pt;
	font-family: 'helveticastandard';
	margin: 0;
	clear: both;

}

span.submitted {

	font-size: 14pt;
	font-weight: bold;

}