
#rooms {

	position: absolute;
	top: 0;
	left: 1080px;
	margin: 0;
	padding: 0;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	z-index: 20;

}

#rooms_title {

	position: absolute;
	top: 95px; /* old masthead: 70px */
	left: 20px;

}

#rooms_content {

	z-index: 21;
	position: absolute;
	top: 265px; /* old masthead: 170px; moved 70px down for toggle */
	left: 20px;
	width: 1040px;
	height: 1535px; /* old masthead: 1630px */
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)), color-stop(0.9,rgba(0,0,0,1)));
	
	font-family: 'gdc_touch_thin', 'gdc_touch_thin2', sans-serif;
	color: white;
	font-size: 20pt;
	letter-spacing: 1px;

}

#rooms_content > div {

	padding-bottom: 20px;

}

.room_group_header {
	
	font-size: 26pt;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
	
}

.room_item_header, .room_item_title {
	display: inline;
	margin-right: 15px;
}

.room_item_header {
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
}

.room_group {
	margin-bottom: 25px;
}

#rooms_toggle {
	position: absolute;
	top: 195px;
	left: 50%;
	margin-left: -235px;
	height: 60px;
}

#rooms_toggle > button {
	width: 470px;
	height: 100%;
	background-color: #23458b;
	border: 0px none;
	outline: 0px none;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	color: white;
	font-size: 30px;
	line-height: 100%;
	font-family: 'gdc_touch_book', 'gdc_touch_book2', sans-serif;
}

.handicap #rooms_title { top: 1080px; }

.handicap #rooms_content {

	top: 1245px;
	height: 555px;

}

.handicap #rooms_toggle {

	top: 1180px;

}

.page_rooms #rooms {
	left: 0;
	-webkit-transition: left 0.5s;
}

.page1 #rooms {
	left: 1080px;
	-webkit-transition: left 0.5s;
}