#files used locally that should not be uploaded to github
noupload
json

#fonts not uploaded to github for licensing reasons
Helvetica*
helvetica*
Gotham-*

#map images not uploaded to github for security reasons
img/maps/*
img/maps/static/*

#files created by OS, etc.
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
