#files used locally that should not be uploaded to github
noupload

#Helvetica fonts not uploaded to github for licensing reasons
Helvetica*
helvetica*

#files created by OS, etc.
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
