#files used locally that should not be uploaded to github
noupload
json
updaters
deploy.sh

#fonts not uploaded to github for licensing reasons
Helvetica*
helvetica*
Gotham-*

#map images not uploaded to github for security reasons
img/maps/*
img/maps/static/*

#this folder now contains scripts for the server that manages tracking data; don't want these on github.
php
php/*

#files created by OS, etc.
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
